@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
}

.hero {
  &__title {
    font-family: Roboto;
    text-align: center;
    padding: 1rem;
    font-family: "Cambria, Georgia, serif";
    font-size: 10vmin;
    font-weight: bolder;
    text-transform: uppercase;
  }
  &__icon {
    width: 10vmin;
    vertical-align: middle;
  }
}
.random {
  text-align: center;
  z-index: 999;
  background-color: #000000c4;
  width: 82%;
  padding: 0.25em;
  margin: auto;
  border-radius: 5px;
  border: 1px solid gray;
  position: sticky;
  top: 6vh;
  backdrop-filter: blur(5px);
  color: white;
  &__title {
    font-size: 0.8em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;

    // text-align: left;
    // width: max-content;
    // margin-left: 40%;
  }
  &__name {
    text-transform: capitalize;
    margin-bottom: 0;
  }
  &__fact {
    // text-align: left;
    padding: 0.5em;
  }
}

#allAnime {
  display: flex;
  gap: 1em;
  place-content: center;
  flex-wrap: wrap;
  padding: 2em;
  .card {
    padding: 0.5em 1em;
    padding-bottom: 1em;
    border: 1px solid grey;
    max-width: 300px;
    border-radius: 5px;
    transition: all 0.2s;
    &__title {
      padding-top: 0;
      text-transform: uppercase;
      font-size: 0.85rem;
      font-family: Montserrat;
    }
    &__image {
      min-width: 200px;
      min-height: 150px;
      max-height: 266px;
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
    }

    &:hover {
      // color: #fff;
      // border: 1px solid #888;
      color: #000;
      background-color: #f5f7fa;
      border: 1px solid #ccc;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transform: scale(1.05);
    }
    &:focus {
      // color: #fff;
      // border: 1px solid #888;
      color: #000;
      background-color: #f5f7fa;
      border: 1px solid #ccc;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transform: scale(1.05);
    }
  }
}
.clearLocalStorage {
  margin: auto;
  padding: 0.5em 2em;
  text-transform: uppercase;
  color: #555;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  justify-self: center;
  display: block;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 2em;
  &:hover {
    // color: #fff;
    // border: 1px solid #888;
    color: #000;
    background-color: #f5f7fa;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  &:focus {
    // color: #fff;
    // border: 1px solid #888;
    color: #000;
    background-color: #f5f7fa;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}
